{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "targets": {
                    "browsers": ["last 2 versions", "IE >=10"]
                },
                "corejs": 2,
                "useBuiltIns": "usage"
                
            },
            "@babel/preset-stage-1"
        ]
    ],
    "plugins": [
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-constant-elements",
        ["babel-plugin-transform-react-jsx", { "pragma": "h" }],
        ["babel-plugin-jsx-pragmatic", {
            "module": "preact",
            "export": "h",
            "import": "h"
        }]
    ]
  
  
}