.barWrap {
    position:relative;
    z-index: 10;
    margin-top: 12px; 
}
.spacer {
    height: 42px;
}

.searchInput {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%; 
    
    

    background: #fafafa;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.02), 0 1px 4px 0 rgba(0,0,0,0.1), 0 0 6px 0 rgba(0,0,0,0.06);
    border-radius: 2px;
    
    display: flex;
    justify-content: flex-end;
    
    .clFocused {
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.02), 0 1px 12px 0 rgba(0,0,0,0.1), 0 4px 5px 0 rgba(0,0,0,.12);
    }
    .clAnimating {
        transition: box-shadow .25s;
    }
    .clListOpen {
        box-shadow: none; 
    }
    
}
.inputDrop {
    background: #fafafa;
    width: calc(100% - 42px);
    position:absolute;
    left: 0;
    top: 0;
    border-radius: 2px 0 0 2px;
    .clListOpen {
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.02), 0 1px 12px 0 rgba(0,0,0,0.1), 0 4px 5px 0 rgba(0,0,0,.12);
        border-radius: 2px 0 2px 2px;
    }
}
.searchBar {
    display:flex;
}
.searchButton {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position:relative;
    width: 42px;
    height: 42px; 
    border-radius: 0 2px 2px 0;
    cursor: pointer; 
    .clListOpen {
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.02), 0 1px 4px 0 rgba(0,0,0,0.1), 0 0 6px 0 rgba(0,0,0,0.06);
    }
    &.searchSubmit {
        background:#005c96; 
        fill: white; 
    }
    > svg {
        display:block;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
input.searchField, .searchField {
    border: 0;
    padding: 12px;
    height: 42px;
    font-size: 16px;
    background: none; 
    outline: none; 
    width: 100%;
    display: block;
    &.clAuto {
        background: black; 
    }
    &:-ms-input-placeholder {
        color:rgba(0,0,0,.6);
    }
    &::-ms-clear {
        display:none; 
    }
    
}
.suggestList {
    border-top: 1px solid #e6e6e6;
    &Item {
        padding: 12px;
        font-size: 16px;
        color: black; 
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        &.clHighlighted, &:hover {
            background: #E0F1F4;
            
        }
    }
}
